# Node
node_modules/
package-lock.json
yarn.lock
.pnpm-debug.log

# Build outputs
.next/
out/
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/
prisma/dev.db
prisma/dev.db-journal

# Editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Coverage
coverage/

# Docker
docker-compose.override.yml

# Test artifacts
*.tsbuildinfo
